.advantage-details {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 23px;
  margin-bottom: 52px;
  padding: 0;
  list-style-type: none;
}

.advantage-details__card:not(:last-child) {
  margin-bottom: 22px;
}
