.advantage-card {
  padding: 24px 18px;
  }

.advantage-card1 {
  padding-top: 51px;
  padding-bottom: 40px;
}

.advantage-card2 {
  padding-top: 39px;
  padding-bottom: 35px;
}

.advantage-card3 {
  padding-top: 26px;
}

.advantage-card:last-child {
  padding-bottom: 26px;
}

.advantage-card__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  color: @title-color;
}

.advantage-card__text {
  margin: 0;
}

.advantage-card__text:not(:last-child) {
  margin-bottom: 17px;
}

.advantage-card--theme1 {
  color: #ffffff;
  background-color: @basic-color;
}

.advantage-card__title--theme1 {
  color: #ffffff;
}

.advantage-card--theme1 .advantage-card__title {
  color: #ffffff;
}

.advantage-card--theme2 {
  background-color: #eeeeee;
}

.advantage-card--icon {
  padding-left: 65px;
  padding-right: 18px;
  text-align: left;
}

.advantage-card--accomodation {
  background-image: url("../../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 18px 0;
}

.advantage-card--food {
  background-image: url("../../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 18px 0;
}

.advantage-card--souvenirs {
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 18px 0;
}
