.main-header {
  padding: 32px 19px;
}

.main-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: @title-color;
}

.main-header__subtitle {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
