.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  padding: 38px 18px 23px;
}

.page-footer__hashtag {
  display: block;
  margin-bottom: 33px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: @title-color;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 47px;
}
