.video {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
}

.video__header {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 38px;
}

.video__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: @title-color;
}

.video__text {
  margin: 0;
  text-transform: uppercase;
}
